/* colores robados de figma: */

/* color azul del fondo #22335E; */

/* color celeste de los botones y de los onfocus de los inputs #4D8FC2; */

/* color blanco de los elementos #FEFEFE; */
/* @media screen and (min-width: 320px) and  (max-width: 414){ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: roboto;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    padding: 0px;
    margin: 0px;
}

/* formato para celular */
@media screen and (min-width: 320px) and (max-width: 414px) and (orientation: portrait){


.root{
    font-family: roboto;
}

/* Pagina Login */

.viewLogin{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
}

.loginFlag{
    margin-right: 5vw;
    width: 20px;
    height: 20px;
}

.logIn{
    margin-left: 5vw; 
}

.backBtn{
    width: 24px;
    height: 24px;
    margin-left: 3vw;
    margin-top: 2vh;
}

.loginTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;   
    color: #000000;
}

.loginImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.inputsBigContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.loginEmailInputContainer{
  position: relative;
  /* left: 50%;
  margin-left: -12.5em; */
}
.loginEmailInput{
    width: 300px;
    /* height: 5vh; */
    margin: auto;
    display: flex;
    padding: 15px;
    border: 2px solid #DADCE0;
    border-radius: 3.5px;
}
.loginEmailTextInput{
    position: absolute;
    top: 17px;
    left: 15px;
    letter-spacing: 0.05em;
    color: #80868B;
    pointer-events: none;
    font-weight: 500;
    font-family: sans-serif;
    transition: .3s;
}
.loginEmailInput:focus{
    outline: 2px;
    border-radius: 3.5px;
    border-color: #1A73E8;
}
.loginEmailInput:focus + .loginEmailTextInput,
.loginEmailInput:valid + .loginEmailTextInput{
  top: -12px;
  left: 10px;
  background: #ffffff;
  color:#1A73E8;
  border-radius: 3.5px;
}

.loginEmailTextInput2{
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 4vw;
}

.loginPasswordInputContainer{
    position: relative;
  }
  .loginPasswordInput{
      width: 300px;
      padding: 15px;
      border: 2px solid #DADCE0;
      border-radius: 3.5px;
  }

.eyeImageContainer{
    position: relative;
    margin-top: -69px;
    margin-left: 280px;
}

.eyeImage{
    height: 25px;
    width: 25px;
}
  .loginPasswordTextInput{
      position: absolute;
      top: 17px;
      left: 15px;
      letter-spacing: 0.05em;
      color: #80868B;
      pointer-events: none;
      font-weight: 500;
      font-family: sans-serif;
      transition: .3s;
  }
  .loginPasswordInput:focus{
      outline: 2px;
      border-radius: 3.5px;
      border-color: #1A73E8;
  }
  .loginPasswordInput:focus + .loginPasswordTextInput,
  .loginPasswordInput:valid + .loginPasswordTextInput{
    top: -12px;
    left: 10px;
    background: #ffffff;
    color:#1A73E8;
    border-radius: 3.5px;
  }

/* Pagina Creación Perfil */

.createProfile{
    display: flex;
    flex-direction: column;
}
.profileTitle{
    display: flex;
    justify-self: left;
    margin-left: 5vw;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 20px;
}
.newProfileImage{
    display:flex;
    justify-self: center;
    align-self: center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
}

.newProfileBtn{
    display:flex;
    justify-self: center;
    align-items:center;
    justify-content: center;
}

.custom-input-file {
    background-color: #5493C4;
    color: #fff;
    cursor: pointer;
    font-size: 10vh;
    height: 40px;
    padding: 10px;
    position: absolute;
    left: 220px;
    top: 190px;
    text-align: center;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-input-file .input-file {
   /* border: 10000px solid transparent; */
   cursor: pointer;
   font-size: 10vh;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
    width: 50px;
   height: 50px; 
   position: absolute; 
   left: 5px;
   top: 5px;
  }

#showProfile{
    display: flex;
    align-self: center;
}

.profileButton{
    width: 110px;
    height: 40px;
    background-color: #4D8FC2;
    color: #FEFEFE;
    border-radius: 4px;
    border: none;
    letter-spacing: 1.25px;
}

.link{
    text-decoration: none;
    color: #FEFEFE;
    letter-spacing: 1.25px;
}

.btnsContainer{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.newProfileInput{
    display: flex;
    width: 330px;
    height: 30px;
}

.TextInputTwo{
    font-size: 2vh;
    display: flex;
    align-self: start;
    margin-left: 5vw;
}

.scroll-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.viewprofile{
    display: flex;
    flex-direction: column;
}

.viewProfileName{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 34px;
line-height: 36px;
color: rgba(0, 0, 0, 0.87);
}

.profileContent{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.25px;
color: rgba(0, 0, 0, 0.87);
margin-bottom: 4vh;
}

.profileContentDiv{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vh;
}

.loginButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logInBtn{
    width: 148px;
    height: 40px;
    background-color: #4D8FC2;
    color: #FEFEFE;
    border-radius: 4px;
    border: none;
    letter-spacing: 1.25px;
}

/* Pagina principal */
/* .menu {
    display: flex;
    flex-direction: row;
    background-color: #22335e;
    height: 56px;
  }
  .lateralMenu {
    margin-top: 22px;
    display: flex;
    justify-self: baseline;
    margin-left: 19px;
    height: 18px;
    width: 25px;
  }
  .mainTitle {
    margin-top: 22px;
    display: flex;
    justify-self: baseline;
    margin-left: 35px;
    color: #fff;
    font-size: 20px;
  }
  
  .channelBtns {
    display: flex;
    background-color: #22335e;
    height: 48px;
    justify-content: space-between;
  }
  
  .channelBtn {
    display: flex;
    color: #fff;
    margin-top: 16px;
    text-decoration: none;
    margin-left: 34.62px;
  }
  
  .chatBtn {
    display: flex;
    color: #fff;
    margin-top: 16px;
    text-decoration: none;
    margin-right: 65.62px;
  }
  
  .searchBarBackground {
    background-color: #e0e0e0;
    height: 39px;
  } */

  .content-all{
    width: 100%;
    max-width: 1000px;
}

header{
    /* width: 500px; */
    height: 55px;
    /* position: fixed; */
    left: 0;
    top: 0;
    background-color: #22335E;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 300px;
}

.menu{
    position: fixed;
    top: 50px;
    width: 0px;
    height: 100%;
    background-color: #22335E;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}
.menuFirstSection{
  border-bottom: 1px solid #979797;
  padding-top: 50px;
  padding-bottom: 20px;
}
.menuSecondSection{
  border-bottom: 1px solid #979797;
  padding-top: 30px;
  padding-bottom: 120px;
}
.menuThirdSection{
  /* border-bottom: 1px solid #979797; */
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 500px;
}
/* .content-all  */
.menuButton{
    position: relative;
    width: 100%;
    max-width: 1000px;
    top: -35px;
    padding: 15px;
    color: white;
    cursor: pointer;
}
.mainTitle{
  position: relative;
  margin-top: -50px;
  margin-left: 70px;
  color: #ffffff;
}

.channelBtns{
  background-color: #22335E;
  display: flex;
  /* justify-content: center; */
  margin-top: 17px;
  padding: 5px;
  /* width: 500px; */
}
.channelButton{
  /* width: 10%; */
  padding-left: 40px;
}
#channelBtn{
  background-color: #22335E;
  border-color: #22335E;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  outline: 2px;
}
.chatButton{
  /* width: 10%; */
  padding-left: 40px;
}
#chatBtn{
  background-color: #22335E;
  border-color: #22335E;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
   outline: 2px;
}
.searchbarContainer{
background-color: #E0E0E0;
}
.searchInput{
  background-image: url(img/lupa.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
  /* border: none; */
  border-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}
.searchInput:focus{
  outline: 2px;
  border-color: #1A73E8;
}
  
  .searchBarChannels {
    width: 336px;
    height: 26px;
    margin: 7px 16px 7px 8px;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .channelBox {
    margin-top: 14px;
    max-height: 400px;
    overflow-y: scroll;
    
  }
  
  .channelContainer{
      height: 91px;
    border-bottom: 1px solid #212121;
  }

  .channelTitle {
    font-size: 18px;
    margin-left: 16px;
    /* padding: 10px; */
    padding-top: 15px;
  }
  
  .channelDescription {
    font-size: 12px;
    color: rgb(94, 91, 91);
    margin-left: 16px;
    padding: 5px;
  }
  
  .newChannelButton {
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 25px;
  }
  /* pagina nuevo canal */
  
  .channelHeader {
    display: flex;
    justify-content: space-between;
    background-color: #22335e;
    color: #fefefe;
    height: 56px;
  }
  
  .backchannelBtn {
    height: 12px;
    width: 7.41px;
    margin-top: 25px;
    margin-left: 24px;
  }
  
  .newChannelTitle {
    margin-top: 16px;
    font-size: 20px;
    margin-left: 30px;
  }
  
  .newChannelBtn {
    margin-top: 25px;
    font-size: 12px;
    margin-right: 45px;
  }
  
  .newChannelMain {
    margin-top: 70.45px;
  }
  
  .newChannelLabel {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 15px;
    font-size: 18px;
  }
  
  .newChannelInput {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 54px;
    margin-left: 15px;
    font-size: 14px;
  }
  
  .newChannelCheckBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 25px;
  }
  
  /* pagina visualización canales */
  .viewChannelHeader{
      display: flex;
      justify-content: space-between;
      background-color: #22335e;
      color: #fefefe;
      height: 56px;
  }
  .channelMenu{
      margin-top:20px;
      margin-right: 20px;
      width: 4px;
      height: 16px;
  }
  
  .mainChannel{
      margin-top: 26px;
  }
  
  .generalDescriptionChannel{
      margin-top:20px;
      margin-left: 16px;
      margin-right: 16px;
      font-size: 14px;
  }
  
  .addChannel{
      margin-top:94px;
      margin-bottom: 43px;
      display: flex;
      justify-content: space-around;
  }
  
  .activeProfile{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-right: 80px;
  }
  
  .addpostBar{
      display: flex;
      justify-content: flex-end;
      width: 100vw;
      margin-top:72px;
      height: 56px;
  }
}